[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-bcrypt = "*"
flask-login = "*"
flask-wtf = "*"
"psycopg2-binary" = "*"
requests = "*"
shapely = "*"
sqlalchemy = "*"
zappa = "*"
python-dotenv = "*"
futures = "*"

[dev-packages]
"flake8" = "*"
yapf = "*"
isort = "*"

[requires]
python_version = "3.6"
