{% extends "base.html" %}
{% block title %}Squared Away Reports{% endblock %}

{% block content %}
<div class="container">
<div class='row col-md-12 col-offset-1'>
  <h1>Squared Away Reports</h1>
</div>
<div class='row main-content'>
  <div class='col-md-5 col-offset-1'>
    <div class="form-group">
      <div>
        <a href="/">
          <button class="btn" type="button">Map Report</button>
        </a>
      </div>
      <div>
        <label for="start_date">Start Date</label>
        <input id="start_date" name="start_date" type="date">
      </div>
      <div>
        <label for="end_date">End Date</label>
        <input id="end_date" name="end_date" type="date">
      </div>
      <div>
        <label for="categories">Categories</label>
        <select multiple class="form-control" id="categories">
          <option>Repairs</option>
          <option>Lease</option>
          <option>Move In</option>
          <option>Heat and Essential Services</option>
          <option>Security Deposit</option>
          <option>Move Out</option>
          <option>Eviction</option>
          <option>Termination</option>
          <option>Building Security</option>
          <option>Discrimination</option>
          <option>Harrassment/Retaliation</option>
          <option>Unlawful Landlord Entry</option>
          <option>Lockout</option>
          <option>Rent Increase</option>
          <option>Interest</option>
          <option>Utility Theft</option>
          <option>Mold</option>
          <option>Lead Complaint</option>
          <option>Foreclosure</option>
          <option>Bed Bugs</option>
          <option>Other</option>
        </select>
      </div>
      <div>
        <label for="wards">Ward(s)</label>
        <select multiple class="form-control" id="wards">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
            <option>6</option>
            <option>7</option>
            <option>8</option>
            <option>9</option>
            <option>10</option>
            <option>11</option>
            <option>12</option>
            <option>13</option>
            <option>14</option>
            <option>15</option>
            <option>16</option>
            <option>17</option>
            <option>18</option>
            <option>19</option>
            <option>20</option>
            <option>21</option>
            <option>22</option>
            <option>23</option>
            <option>24</option>
            <option>25</option>
            <option>26</option>
            <option>27</option>
            <option>28</option>
            <option>29</option>
            <option>30</option>
            <option>31</option>
            <option>32</option>
            <option>33</option>
            <option>34</option>
            <option>35</option>
            <option>36</option>
            <option>37</option>
            <option>38</option>
            <option>39</option>
            <option>40</option>
            <option>41</option>
            <option>42</option>
            <option>43</option>
            <option>44</option>
            <option>45</option>
            <option>46</option>
            <option>47</option>
            <option>48</option>
            <option>49</option>
            <option>50</option>
        </select>
      </div>
      <div>
        <label for="report_title">Report Title</label>
        <input type="text" id="report_title" class="form-control" placeholder="Calls and Issues" />
      </div>
      <div>
        <label for="color_choice">Colors</label>
        <select class="form-control" id="color_choice">
          <option value="YlOrBr">Yellow, Orange, Brown</option>
          <option value="Blues">Blues</option>
          <option value="BuPu">Blue, Purple</option>
          <option value="Greens">Greens</option>
          <option value="OrRd">Orange, Red</option>
        </select>
      </div>
    </div>
    <button class="btn" type="button" id="updatevals">Update Chart</button>
    <h3>Downloads</h3>
    <div class="btn-list">
      <a id="csvLink" href="filter-csv">
        <button class="btn" type="button">Download CSV by Areas</button>
      </a>
      <a id="detailCsvLink" href="detail-csv">
        <button class="btn" type="button">Download Detail CSV</button>
      </a>
      <a id="printLink" href="print">
        <button class="btn" type="button">Print Map</button>
      </a>
    </div>
  </div>
  <div class='col-md-7 col-offset-1' id="map-panel">
    <div class="loader" style="display: none;"></div>
    <svg width="100%" height="750px"></svg>
  </div>
</div>
</div>

{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/script.js') }}"></script>
{% endblock %}
