{% extends "base.html" %}
{% block title %}Squared Away Reports{% endblock %}

{% block style %}
<link href="{{ url_for('static', filename='css/print.css') }}" rel="stylesheet">
{% endblock %}

{% block content %}
<h1 class="print-report">Metropolitan Tenants Organization</h1>
<h2 class="print-report">{{ report_title }}</h2>
<button class="btn print-hide" onclick="window.print(); return false">
  <span class="glyphicon glyphicon-print"></span>
</button>
<svg width="800px" height="850px"></svg>
<div id="print-notice">
  <p>Map produced by the Metropolitan Tenants Organization on {{ today.strftime('%m-%d-%Y') }}</p>
</div>
{% endblock %}

{% block scripts %}
<script>
var geoDump = {{ geo_dump|tojson }};
var cbColors = '{{ colors }}';
</script>
<script src="{{ url_for('static', filename='js/print.js') }}"></script>
{% endblock %}
